<!DOCTYPE html>
<html ng-app="treneri">
<head>
	<title>2Fit Home</title>
	<meta charset="utf-8" name="Fitness Centar 2Fit">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="css/bootstrap.css" rel="stylesheet">
	<meta http-equiv="Content-Language" content="sr" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <LINK REL="SHORTCUT ICON"
       HREF="img/fav.jpg">

    <script> 
    document.write('<embed width=0 height=0 hidden="true" autostart="true" volume="10" loop="false" src="trumpsta.mp3">'); 
    </script>

       <script>
    var novikuki = document.cookie;
    var delovikukija = novikuki.split("=");
    var imekukija = delovikukija[0];
    var vrednostkukija = unescape(delovikukija[1]);
    var prethodnavrednost = vrednostkukija;
    if (imekukija != "brojac" || vrednostkukija == null) {
    prethodnavrednost = 0;
    }
    var novavrednost = parseInt(prethodnavrednost) + 1;
    var newDate = new Date();
    newDate.setTime(newDate.getTime() + 2592000000);
    document.cookie = " brojac=" + novavrednost + ";expires=" +
    newDate.toGMTString();
    </script>
    
    <script src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
 <script src="https://code.angularjs.org/1.3.0-rc.1/angular-route.min.js"></script>
    <script src="js/treneri.js"></script>

</head>
<body>

<div id="naslovLogo" style="white-space:nowrap">
	<div style="white-space:nowrap; font: verdana; font-size: 60px; line-height: 60px;
                text-align: center; text-shadow: 3px 5px 10px #000;">
         <strong>Fitness Centar</strong>
    </div>
    <div id="image">
        <img src="img/logo.png" class="img-responsive" style="margin: auto; height: 160px;">
    </div>
    
</div>

<ul class="meni" id="navMeni">
  <li><a href="index.html">Home</a></li>
  <li><a href="onama.html">O nama</a></li>
  <li><a href="galerija.html">Galerija</a></li>
  <li><a href="priterm.html">Programi i termini</a></li>
  <li><a href="treneri.html">Treneri</a></li>
  <li><a href="kontakt.html">Kontakt</a></li>
</ul>
    
     <div ng-controller="treneriController">
    <div class="row">
  <div style="width: 600px" class="col-md-6">


<ul>
    <li ng-repeat="treneri in treneri">
       {{treneri.ime + " " + treneri.prezime}}
        <a href="#" id="obrisi" ng-click="obrisiTrenera(treneri)"> Obriši </a>
        <a href="#" id="izmeni" ng-click="izmeniTrenera(treneri)"> Izmeni </a>
        <hr></hr>
 </li>
</ul>

<ul>
    <li>
      {{ime + " " + prezime}}
 </li>
</ul>


  </div>
  
  <div style="width: 778px" class="col-md-6">

    <form class="form-horizontal">
  <div class="form-group">
    <label for="inputIme" class="col-sm-2 control-label">Ime</label>
    <div class="col-sm-10">
      <input type="ime" class="form-control" id="ime" placeholder="Ime" value=" {{ current.ime }} " ng-model="ime">
      
      <div class="alert alert-warning" ng-show="ime.length <= najmanje">
          Ime mora da sadrži najmanje 3 slova!
      </div>
      <div class="alert alert-danger" ng-show="ime.length >= najvise">
          Ime ne sme da sadrži više od 30 slova!
      </div>
      
    </div>
  </div>

  <div class="form-group">
    <label for="inputPrezime" class="col-sm-2 control-label">Prezime</label>
    <div class="col-sm-10">
      <input type="prezime" class="form-control" id="prezime" placeholder="Prezime" value=" {{ current.prezime }}" ng-model="current.prezime">
      
      <div class="alert alert-warning" ng-show="prezime.length <= najmanje ">
          Prezime mora da sadrži najmanje 3 slova!
      </div>
      <div class="alert alert-danger" ng-show="prezime.length >= najvise">
          Prezime ne sme da sadrži više od 30 slova!
      </div>
      
    </div>
  </div>

  <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">E-mail</label>
    <div class="col-sm-10">
      <input type="email"  class="form-control" id="email" placeholder="E-mail" value=" {{ current.email }}" ng-model="current.email">
    </div>
  </div>

  <form class="form-horizontal">
  <div class="form-group">
    <label for="inputTelefon" class="col-sm-2 control-label">Broj telefona</label>
    <div class="col-sm-10">
      <input type="telefon" class="form-control" id="telefon" placeholder="Broj telefona" value=" {{ current.telefon }}" ng-model="current.telefon">
    </div>
  </div>

  <div class="form-group">
    <label for="inputSS" class="col-sm-2 control-label">Stručna sprema</label>
    <div class="col-sm-10">
      <input type="ss" class="form-control" id="ss" placeholder="Stručna sprema" value=" {{ current.ss }}" ng-model="current.ss">
    </div>
  </div>

  <div class="form-group">
    <label for="inputTrening" class="col-sm-2 control-label">Trening</label>
    <div class="col-sm-10">
      <input type="trening" class="form-control" id="trening" placeholder="Trening" value=" {{ current.trening }}" ng-model="current.trening">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="dodajTrenera(current)" type="sacuvaj" class="btn btn-default" ng-click="alertClick()">Dodaj</button>
    </div>
  </div>
</form>
  </div>
    </div>
    
    <footer>
    <div id="footer" class="row">
    <div class="col-md-4" align="center">
<!-- I got these buttons from simplesharebuttons.com -->
	<div id="share-buttons">
    <!-- Email -->
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
        <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
    </a>
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
    </a>
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
		</div>
        </div>
        <div class="col-md-4" align="center" style=" color: #ffffff">
            <script>
            var today=new Date()
            var h=today.getHours()
            var m=today.getMinutes()
            var s=today.getSeconds()
            // dodati 0 ispred brojeva manjih od 10
            m=checkTime(m)
            s=checkTime(s)
            document.write("<FONT face=verdana size=4 >"+h+":"+m+":"+s+"</font></a>");
            function checkTime(i)
            {
            if (i<10) 
              {i="0" + i}
              return i
            }
            </script>
        </div>
    <div id="posete" class="col-md-4" align="center">
        <script language="JavaScript">
        document.write("Ovu stranicu ste posetili "+ novavrednost + " puta.");
        </script>
    </div>

</div>
	</div>
    </div>

    </footer>


</body>
</html>